*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

h3{
    color:#3eb8d7;
}

@media screen and (max-width:650px){
    [class*="col-"]{
        width:100%;
        display:block;
    }
}

.row{
    width:100%;
    overflow:hidden;
}

[class*="col-"]{
    float:left;
}




.col-1{
    width:8.33%;
}
.col-2{
    width:16.66%;
}
.col-3{
    width:25%;
}

.col-4{
    width:33.33%;
}

.col-5{
    width:41.65%;
}

.col-6{
    width:50%;
}

.col-7{
    width:58.3%;
}

.col-8{
    width:66.6%;
}

.col-9{
    width:75%;
}

.col-10{
    width:83.3%;
}

.col-11{
    width:91.63%;
}

.col-12{
    width:100%;
}

header{
    height:120px;
    background-color:green;
}


nav ul li{
    list-style: none;
    padding:15px;
    background-color:blue;
    text-align:center;
    color:#fff;
    border:1px solid white;
}

nav ul li:hover{
    background-color:red;
}






